<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	 version="6.0">
    
    
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>filter.AdminAuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StaffAuth</filter-name>
        <filter-class>filter.StaffAuth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaffAuth</filter-name>
        <url-pattern>/staff/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>admin.controller.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>controller.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileServlet</servlet-name>
        <servlet-class>admin.controller.AdminProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTicketServlet</servlet-name>
        <servlet-class>controller.SearchTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleDetailServlet</servlet-name>
        <servlet-class>controller.ScheduleDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleDetailAjaxServlet</servlet-name>
        <servlet-class>controller.ScheduleDetailAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpRegisterServlet</servlet-name>
        <servlet-class>controller.VerifyOtpRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <servlet-class>staff.controller.StaffDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTrainsServlet</servlet-name>
        <servlet-class>staff.controller.ManageTrainsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStationsServlet</servlet-name>
        <servlet-class>staff.controller.ManageStationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePassengerTypesServlet</servlet-name>
        <servlet-class>staff.controller.ManagePassengerTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCarriageTypesServlet</servlet-name>
        <servlet-class>staff.controller.ManageCarriageTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSegmentPricesServlet</servlet-name>
        <servlet-class>staff.controller.ManageSegmentPricesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCarriagesServlet</servlet-name>
        <servlet-class>staff.controller.ManageCarriagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSchedulesServlet</servlet-name>
        <servlet-class>staff.controller.ManageSchedulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePromotionsServlet</servlet-name>
        <servlet-class>staff.controller.ManagePromotionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRefundRulesServlet</servlet-name>
        <servlet-class>staff.controller.ManageRefundRulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <servlet-class>staff.controller.ManageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentResultServlet</servlet-name>
        <servlet-class>controller.PaymentResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>controller.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderServlet</servlet-name>
        <servlet-class>controller.ListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundTicketServlet</servlet-name>
        <servlet-class>controller.RefundTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundListServlet</servlet-name>
        <servlet-class>controller.RefundListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>admin.controller.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/admin/staff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuditLogServlet</servlet-name>
        <servlet-class>admin.controller.AuditLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuditLogServlet</servlet-name>
        <url-pattern>/admin/auditlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/verifyOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileServlet</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTicketServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDetailServlet</servlet-name>
        <url-pattern>/scheduleDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDetailAjaxServlet</servlet-name>
        <url-pattern>/getScheduleDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpRegisterServlet</servlet-name>
        <url-pattern>/verifyOtpRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <url-pattern>/staff/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTrainsServlet</servlet-name>
        <url-pattern>/staff/manageTrains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStationsServlet</servlet-name>
        <url-pattern>/staff/manageStations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePassengerTypesServlet</servlet-name>
        <url-pattern>/staff/managePassengerTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCarriageTypesServlet</servlet-name>
        <url-pattern>/staff/manageCarriageTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSegmentPricesServlet</servlet-name>
        <url-pattern>/staff/manageSegmentPrices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCarriagesServlet</servlet-name>
        <url-pattern>/staff/manageCarriages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSchedulesServlet</servlet-name>
        <url-pattern>/staff/manageSchedules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePromotionsServlet</servlet-name>
        <url-pattern>/staff/managePromotions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRefundRulesServlet</servlet-name>
        <url-pattern>/staff/manageRefundRules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <url-pattern>/staff/manageOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentResultServlet</servlet-name>
        <url-pattern>/paymentResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/placeOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderServlet</servlet-name>
        <url-pattern>/list-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundTicketServlet</servlet-name>
        <url-pattern>/refund-ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundListServlet</servlet-name>
        <url-pattern>/refund-list</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

</web-app>
